[Desktop Entry]
Version=1.0
Name=ZeroCool Tv
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="/home/zerocool/Pictures/Kitty.png" firefox --class WebApp-ZeroCoolTv8094 --profile /home/zerocool/.local/share/ice/firefox/ZeroCoolTv8094 --no-remote "https://ir0n2.github.io/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/zerocool/Pictures/Kitty.png
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-ZeroCoolTv8094
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://ir0n2.github.io/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

